*{
    font-family: cursive;
}

.navbar{
    background-color: rgb(15, 170, 118);
    padding :15px;
    font-size: 17;
    top: 0;
   }
a{
    color: white;
    margin-left: 10px;
    text-decoration: none;
}
.float-right{
    float:right;
}
.btn{
    padding :5px 10px 5px 10px;
    border-radius: 5%;
}
.btn-primary{
    background-color: rgb(60, 60, 121);
}
.btn-warning{
    background-color: rgb(147, 147, 83);
    color :black;
}
body{
    margin: 0;
}
.mt-1px{
    margin-top: 1px;
}
.row{
    display:flex;
    padding-left: 15px ;
    padding-right: 15px;

}
.col-2{
    width:50%;

}
.col-3{
    width :33.3%;

}
.col-4{
    width :25%;

}
.mt-1px{
    margin-top: 10px;
}
.card{
    border:1px solid gray;
    padding: 10px;
}
.text-center{
    text-align:center;
}
.img-reposiive{
    width:100px;
}
.text-primary{
    color:rgb(214, 214, 219);
    text-align: center;
}
.footer{
    background-color: rgb(39, 124, 124);
    padding: 10px;
}